################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/StudentsApi/StudentsApi/bin/Debug/netcoreapp2.2
